body {
    background-color: #F1FAEE;
}

#heading {
    background-color: rgba(29,53,87,0.90);
    height: 125px;
    padding: 5px;
    margin: -10px;
}

#websitename {
	font-size: 2em;
	font-family: 'Audiowide', cursive;
	color: #FFFCEF;
	letter-spacing: 3px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline;
	float: left;
}

#logo {
	vertical-align: middle;
	width: 125px;
}

#right {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 19px;
	font-style: italic;
	text-align: right;
	margin-top: 54px;
	margin-right: 15px;
	display: inline;
	float: right;
}

.headeranchor {
	color: #FFFCEF;
	text-decoration: none;
}

a.headeranchor:hover {
	color: #FFFCEF;
	padding: 3px;
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 5px;
}

#bodyinfo {
	text-align: center;
	padding: 7px;
	margin-top: -8px;
    margin-left: -8px;
    margin-right: -10px;
    margin-bottom: -8px;
	background-color: rgba(241,250,238,0.90);
}

#footer {
	background-color: #457B9D;
	margin-left: -8px;
    margin-right: -9px;
    margin-bottom: -8px;
    padding: 5px;
    height: 50px;
}

#footnote {
	font-size: 14px;
	text-align: center;
	margin-top: 16px;
	margin-right: 5px;
	display: inline;
	float: right;
}

#footnote2 {
	font-size: 14px;
	margin-top: 16px;
	margin-left: 5px;
	display: inline;
	float: left;
}