body {
    background-color: #F1FAEE;
}

#heading {
	background-color: rgba(29,53,87,0.90);
	height: 110px;
    padding: 5px;
    margin: -10px;
}

#websitename {
	font-size: 2em;
	font-family: 'Audiowide', cursive;
	color: #FFFCEF;
	letter-spacing: 3px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline;
	float: left;
}

#logo {
	width: 110px;
	vertical-align: middle;
}

#right {
	margin-top: 43px;
	margin-right: 15px;
	display: inline;
	float: right;
}

#bodyinfo {
	text-align: center;
	margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: rgba(241,250,238,0.90);
}

#cat {
	background-color: rgba(29,53,87,0.90);
	text-align: center;
	padding: 7px;
	margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

h2 {
	font-family: 'Sriracha', cursive;
	letter-spacing: 3px;
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
    font-family: Arial, Tahoma, Sans serif;
    font-size: 18px;
    line-height: 20px;
}

.authorpic {
	width: 175px;
	border-radius: 120px;
}

#footer {
	background-color: #457B9D;
	margin-left: -8px;
    margin-right: -10px;
    margin-bottom: -8px;
    padding: 5px;
    height: 50px;
}

#footnote {
	font-size: 14px;
	text-align: center;
	margin-top: 16px;
	margin-right: 5px;
	display: inline;
	float: right;
}

#footnote2 {
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	color: black;
	margin-top: 16px;
	margin-left: 5px;
	display: inline;
	float: left;
}

#contact {
	text-decoration: none;
	color: black;
}

a#contact:hover {
    color: white;
    text-decoration: underline;
}

#arrow {
    font-size: 42px; 
    color: black;
}

#arrow:hover {
    color: red;
}

#go {
    background-color: #FCCA64;
    border-radius: 500px;
    width: 45px;
    margin-left: 1290px;
    position: sticky;
    bottom: 50px;
}

ul {
  	list-style: none;
  	padding: 0;
  	margin: 0;
}

ul li {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 18px;
  	display: block;
  	position: relative;
  	float: left;
}

li ul { 
	display: none; 
}

ul li a {
	display: block;
  	padding: 0px 15px;
  	text-decoration: none;
  	white-space: nowrap;
  	color: #FFFCEF;
}

ul li a:hover { 
	background-color: rgba(255, 255, 255, 0.25);
	color: white;
}

.content li a {
	color: black;
	padding: 5px 10px;
}

li:hover > ul {
  	display: block;
  	position: absolute;
}

li:hover li { 
	float: none; 
}

li:hover a { 
	background: #FFFFFF; 
	color: black;
}

li:hover li a:hover { 
	background: #2c3e50; 
}

.main-navigation li ul li { 
	border-top: 0; 
}

ul ul ul {
  left: 100%;
  top: 0;
}